#instagramPosts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start
}

#instagramPosts h2{
  width: 100%;
}

#instagramPosts .item a{
  width: 100%;
  height: 100%;
  display: flex;
}

#instagramPosts .item{
  background-size: cover;
  width: calc(100%/5);
}

#instagramPosts .item .imagem{
    padding-top: 100%;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#apiCats{
  
}

#apiCats h2{
  width: 100%;
  text-align: center;
  position: relative
}

#apiCats .item img{
  max-width: 100%
}