#instagramPosts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0
}

#instagramPosts h2{
  width: 100%;
}

#instagramPosts .item a{
  width: 100%;
  height: 100%;
  display: flex;
  transition: .3s;
}

#instagramPosts .item a:hover{
  transform: translateY(-4px);
}

#instagramPosts .item{
  background-size: cover;
  width: calc(100%/5);
}

#instagramPosts .item .imagem{
    padding-top: 100%;
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#apiCats{
  
}

#apiCats h2,
#instagramPosts h2{
  width: 100%;
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 4rem;
}

#apiCats h2:before,
#instagramPosts h2:before{
  content: "";
  background-color: #ff6aa3;
  height: 2px;
  width: 240px;
  position: absolute;
  bottom: -10px;
}

#apiCats .imagem{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#apiCats .item img{
  max-width: 100%;
  max-height: 400px
}