#instagramPosts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start
}

#instagramPosts .item a{
  width: 100%;
  height: 100%
}

#instagramPosts .item{
  background-size: cover;
  height: 300px;
  width: calc(100%/5);
}